// // CSS
// :root {
//     --secondary-color: #e91e63;
// }

// Border Radius
$br-sm: 3px;
$br-lg: 6px;
$br-r: 100%;

// Text
$t-d: #555555;
$t-l: white;

// Colors
$c-p: #ec0000;
$c-s: #e91e63;
$c-purple: #9c27b0;
$c-info: #00acc1;
$c-success: #4caf50;
$c-warning: #ff9800;
$c-danger: #f44336;
$c-rose: #e91e63;
$c-dark: #212121;

// Globals
$navbar-size: 4rem;
$filtersbar-size: 15rem;

// Dashboard
$db-navbar-size: 8rem;
$db-sidebar-size: 15rem;
$db-normatives-size: 15rem;
$db-normatives-description-size: 3.5rem;

// Admin
$admin-sidebar-size: 10rem;
