@font-face {
    font-family: 'Santander Headline';
    src: url('./Santander/SantanderHeadline-Bold.eot');
    src: url('./Santander/SantanderHeadline-Bold.eot?#iefix') format('embedded-opentype'),
        url('./Santander/SantanderHeadline-Bold.woff2') format('woff2'),
        url('./Santander/SantanderHeadline-Bold.woff') format('woff'),
        url('./Santander/SantanderHeadline-Bold.ttf') format('truetype'),
        url('./Santander/SantanderHeadline-Bold.svg#SantanderHeadline-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Santander Text';
    src: url('./Santander/SantanderText-Bold.eot');
    src: url('./Santander/SantanderText-Bold.eot?#iefix') format('embedded-opentype'),
        url('./Santander/SantanderText-Bold.woff2') format('woff2'),
        url('./Santander/SantanderText-Bold.woff') format('woff'),
        url('./Santander/SantanderText-Bold.ttf') format('truetype'),
        url('./Santander/SantanderText-Bold.svg#SantanderText-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Santander Headline';
    src: url('./Santander/SantanderHeadline-Regular.eot');
    src: url('./Santander/SantanderHeadline-Regular.eot?#iefix') format('embedded-opentype'),
        url('./Santander/SantanderHeadline-Regular.woff2') format('woff2'),
        url('./Santander/SantanderHeadline-Regular.woff') format('woff'),
        url('./Santander/SantanderHeadline-Regular.ttf') format('truetype'),
        url('./Santander/SantanderHeadline-Regular.svg#SantanderHeadline-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Santander Text';
    src: url('./Santander/SantanderText-Light.eot');
    src: url('./Santander/SantanderText-Light.eot?#iefix') format('embedded-opentype'),
        url('./Santander/SantanderText-Light.woff2') format('woff2'),
        url('./Santander/SantanderText-Light.woff') format('woff'),
        url('./Santander/SantanderText-Light.ttf') format('truetype'),
        url('./Santander/SantanderText-Light.svg#SantanderText-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Santander Text';
    src: url('./Santander/SantanderText-Italic.eot');
    src: url('./Santander/SantanderText-Italic.eot?#iefix') format('embedded-opentype'),
        url('./Santander/SantanderText-Italic.woff2') format('woff2'),
        url('./Santander/SantanderText-Italic.woff') format('woff'),
        url('./Santander/SantanderText-Italic.ttf') format('truetype'),
        url('./Santander/SantanderText-Italic.svg#SantanderText-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Santander Text';
    src: url('./Santander/SantanderText-Regular.eot');
    src: url('./Santander/SantanderText-Regular.eot?#iefix') format('embedded-opentype'),
        url('./Santander/SantanderText-Regular.woff2') format('woff2'),
        url('./Santander/SantanderText-Regular.woff') format('woff'),
        url('./Santander/SantanderText-Regular.ttf') format('truetype'),
        url('./Santander/SantanderText-Regular.svg#SantanderText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

